body,
htl {
  margin: 0;
}
#flex-container {
  display: flex;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  flex-flow: row wrap;
}

.flex-items {
  background-color: rgba(128, 255, 0, 0.5);
  border: solid rgba(145, 255, 0.9);
  width: 100px;
  height: 100px;
  color: white;
  font-size: 100px;
  text-align: center;
  padding: 10px;
}
