body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: black;
  width: 100%;
  height: 500px;
  gap: 10px;
}

.grid-box {
  background-color: green;
  width: 100px;
  height: 100px;
}
