#flex-container {
  display: inline-flex;
  background-color: blue;
  width: 100%;
  height: 500px;

  align-items: baseline;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 10px;
}
