* {
  box-sizing: border-box;
  margin: 0;
}
#flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: black;
  height: 100px;
}

.flex-box {
  background-color: green;
  flex-basis: 33.3%;
  height: 100%;
  font-size: 100px;
  color: white;
  text-align: center;
}

@media (max-width: 600px) {
  .flex-box {
    flex-basis: 100%;
  }
}
